<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="SQLSERVER_PBMS" value="server=10.7.22.18;database=PBMS;uid=sa;pwd=askey2006;" />
    <add key="ORALCE_ERPPROD" value="Data Source=PROD;Persist Security Info=True;User ID=ROAPPS;Password=ROAPPS;Enlist=true;Pooling=true;Max Pool Size=100;Min Pool Size=0;Connection Lifetime=300" />
    <add key="RunningPort" value="8888" />
  </appSettings>
</configuration>